spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:ecommerce_inventory}
    username: ${DB_USER:ecommerce_user}
    password: ${DB_PASSWORD:ecommerce_password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

logging:
  level:
    com.alexisardaya: DEBUG
    org.springframework.web: DEBUG
    org.springframework.kafka: DEBUG

