spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:ecommerce_inventory}
    username: ${DB_USER:ecommerce_user}
    password: ${DB_PASSWORD:ecommerce_password}
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

logging:
  level:
    com.alexisardaya.inventoryservice: DEBUG
    org.springframework.web: INFO

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
  consumer:
    group-id: inventory-service
    auto-offset-reset: earliest
    key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    properties:
      spring.json.type.mapping: orderPlacedEvent:event.kafka.com.alexisardaya.inventoryservice.OrderPlacedEvent
      spring.json.trusted.packages: com.alexisardaya.*
  producer:
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.type.mapping: orderPlacedEvent:event.kafka.com.alexisardaya.inventoryservice.OrderPlacedEvent, orderCancelledEvent:event.kafka.com.alexisardaya.inventoryservice.OrderCancelledEvent,orderConfirmedEvent:event.kafka.com.alexisardaya.inventoryservice.OrderConfirmedEvent, inventoryUpdatedEvent:event.kafka.com.alexisardaya.inventoryservice.InventoryUpdatedEvent